body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.left-side, .right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-side {
    background-image: url('background1.png'); 
    background-size: cover;
    background-position: center;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

.content {
color: white;
margin-right: 50px;
}

.content h1 {
    margin-left: 15px;
}

.right-side {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #333;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.button:hover {
    background-color: #555;
}

.form-container button {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #333;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.form-container button:hover {
    background-color: #555;
}
